.mini-container {
  background-color: #1c1c2b;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 5px;
}
.main-heading {
  color: #ffffff;
  font-family: "'Courier New', Courier, monospace";
  font-weight: bold;
  font-style: italic;
}

