.age-container {
  background-color: #1c1c2b;
  padding-right: 220px;
  padding-left: 220px;
  padding-bottom: 10px;
  padding-top: 10px;

  border: none;
  border-radius: 6px;
  margin: 10px;
}

.heading {
  color: #ffffff;
  font-family: 'monospace';
  font-weight: bolder;
  font-style: italic;
}

