.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161625;
}

.co-win-logo {
  height: 30px;
  width: 30px;
}

.logo-name {
  color: #2cc6c6;
  font-family: 'monospace';
  font-weight: bolder;
}
